.swiper {
    width: 100%;
    height: 100%;
  }
  
  .experience .swiper-slide {
    font-size: 18px;
  
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.experience  .swiper .swiper-pagination-horizontal{
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 9%;
    z-index: -1;
    display: inline-block;
    @include respond(big-desktop-min-2){
      bottom: 6%;
    }
    @include respond(phone-seven){
        width: 50%;
    }
  }


  .experience  .swiper .swiper-pagination-bullet{
     background-color: #55556A;
     opacity: .6;
  }
  .experience  .swiper .swiper-pagination-bullet-active{
     background-color: #ED2B23;
     width: 9px;
     height: 9px;
     opacity: 1;
  }
  
  .experience  .swiper .swiper-button-next,
  .experience  .swiper .swiper-button-prev{
    color: #ED2B23;
    width: 3%;
    top: 91%;
  }
  .experience  .swiper .swiper-button-next{
    right: 42.5% ;
    @include respond(tab-port-1){
        right: 41%;
    }
    
 }
 .experience  .swiper .swiper-button-prev{
    left: 42.5%;
    @include respond(tab-port-1){
        left: 41%;
    }
 }
  .experience  .swiper .swiper-button-next:after,
  .experience  .swiper .swiper-button-prev:after{
    font-size: 19px !important;
  }
  .swiper-sm-none{
      @include respond(phone-seven){
        display: none !important;
      }
  }