#menu-bar:checked ~ .nav-list{
    left: 0%;
  }

.nav{
    position: absolute;
    top: 0px;
    z-index: 99;
    width: 100%;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    background:#030318;
    padding: 10px 0;
    .header-appear &__navbar-top-default {
        position: fixed;
        top: 0;
        z-index: 888;
       
        background: #232935;
        -webkit-animation-name: animationFade;
        animation-name: animationFade;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    }
    @-webkit-keyframes animationFade {
        from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
        to { opacity: 1; -webkit-transform: none; transform: none; }
    }
    @keyframes animationFade {
        from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);
        }
        to { opacity: 1; -webkit-transform: none; transform: none; }
    }
    &__nav-container{
        width: 100%;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 70px;
        padding-right: 30px;
        position: relative;
        // margin-top: 32px;
        // border: 1px solid red;
        @include respond(phone-md){
            padding-left: 30px;
        }
        @include respond(zero-size){
            padding-left: 20px;
            padding-right:20px ;
        }
    }
    &__nav-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        // margin-top: 1rem;
    }
  
    &__nav-logo{
        img{
            margin-top: 73px;
            // vertical-align: middle;
            // width: 125px;
            // height: 47px;
            object-fit: cover;
            max-width: 125px;
        }
    }
    &__nav-mobile-img{
        position: absolute;
        top: 48px;
        left: 30px;
        z-index: -1;
        // padding-bottom: 20px;
    }
    &__nav-list{
        
        display: flex;
        position: fixed;
        top: 0px;
        right: -100%;
        display: block;
        width: 100%;
        height: 100vh;
        max-width: 350px;
        background: white;
        padding-top: 3rem;
        padding-left: 40px;
        transition: all 0.3s ease;
        overflow-y: auto;
        z-index: 2;
        padding-top: 103px;
        @include respond(zero-size){
            max-width: 310px;
        }
    }
    &__nav-list::-webkit-scrollbar{
        width: 0px;
       
        background-color: silver;
    }
    &__nav-item{
        &:not(:first-child){
            margin-top: 10px;
        }
    }
    &__nav-link{
        display: block;
        color: #55556A;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #030318;
        }
    }
    &__nav-social-content{
        margin-top: 10rem;
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        margin-left: -20px;
    }
    &__nav-icon-mobile{
        font-size: 18px;
        display: inline-block;
        color: #55556A;
        transition: all 0.3s ease-in-out;
      
        &:not(:first-child){
            padding-left: 30px;
           
        }
        &:hover{
            color: #030318;
        }
    }
   
    &__menu-bar{
        // border: 1px solid red; 
        display: block;
        height: 30px;
        width: 33px;
        position: relative;
    }
    &__menu-span{
        position: absolute;
        top: 13px;
        left: 0;
        width: 25px;
        height: 2px;
        background: #fff;
        display: inline-block;
    }
    &__menu-span:before,
&__menu-span:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 25px;
    transition:  all 0.2s ease-in-out;
}
&__menu-span:before{
    top: -7px;
    left: 0;
    background: #fff;
}
&__menu-span:after{
    top: 7px;
    width: 15px;
    right: 0;
    background: #fff;
}
&__menu-bar:hover &__menu-span:before,
&__menu-bar:hover &__menu-span:after{
    width: 17px;
}
  
    &__nav-close{
        position: absolute;
        top: 24px;
        right: 22px;
        color: #030318;
        font-size: 26px;
        cursor: pointer;
        z-index: 1111;
    }
    &__nav-close:hover{
        -webkit-animation: .8s rotate;
        animation: .8s rotate;
    }
      @-webkit-keyframes rotate {
        from{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to{
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
   
    &__nav-container #menu-bar:checked ~ &__nav-list{
        right: 0%;
    }



    &__search-icon{
        display: inline-block;
        font-size: 22px;
        margin-right: 55px;
        position: absolute;
        top: 6px;
        right: 40px;
        cursor: pointer;
        @include respond(zero-size){
            max-width: 68%;
            right: 25px;
        }
    }

    &__search-box{
        position: absolute;
        height: 100%;
        top: 0%;
        left: 0%;
        width: 90%;
        height: 50px;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        margin-left: 70px;
        
         @include respond(big-desktop-min-4){
             max-width:88%;
             
         }
         @include respond(big-desktop-min-3){
             max-width:86%;
             
         }
         @include respond(big-desktop-min-2){
             max-width:84%;
             
         }
         @include respond(big-desktop-min-1){
             max-width:82%;
             
         }
         @include respond(tab-land-7){
             max-width:80%;
             
         }
         @include respond(tab-port-1){
             max-width: 78%;
         }
         @include respond(phone-md){
             max-width: 75%;
             margin-left: 30px;
         }
         @include respond(phone){
             max-width: 70%;
             margin-left: 20px;
         }
         @include respond(zero-size){
             max-width: 68%;
             margin-left: 20px;
         }
        
    }
    &__search-box-input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 17px;
        color: #fff;
        background: #171c24;
        padding: 0 100px 0 15px;
        &::placeholder{
            color: #f2f2f2;
        }
    }
    &__go-icon{
        width: 70px;
        height: 100%;
        border:none;
        background: #171c24;
        position: absolute;
        right: 10px;
        top: 0;
        outline: none;
        color: rgb(179, 16, 16);
        font-size: 20px;
        cursor: pointer;
    }
  
}




   .nav input[type="radio"]{
        display: none;
    }


.nav #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
    font-size: 22px;
    display: inline-block;
  }

.nav #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
 
  .d-none{
      display: none;
  }
 