.nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
   
    &__nav-container{
        width: 100%;
        
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 70px;
        padding-right: 30px;
        position: relative;
        margin-top: 32px;
        // border: 1px solid red;
        @include respond(phone-md){
            padding-left: 30px;
        }
        @include respond(zero-size){
            padding-left: 20px;
            padding-right:20px ;
        }
    }
    &__nav-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        // margin-top: 1rem;
    }
  
    &__nav-logo{
        img{
            vertical-align: middle;
            width: 125px;
            height: 47px;
        }
    }
    &__nav-mobile-img{
        padding-bottom: 20px;
    }
    &__nav-list{
        
        display: flex;
        position: fixed;
        top: 0px;
        right: -100%;
        display: block;
        width: 100%;
        height: 100vh;
        max-width: 350px;
        background: white;
        padding-top: 3rem;
        padding-left: 40px;
        transition: all 0.3s ease;
        overflow-y: auto;
        z-index: 2;
        @include respond(zero-size){
            max-width: 310px;
        }
    }
    &__nav-list::-webkit-scrollbar{
        width: 0px;
       
        background-color: silver;
    }
    &__nav-item{
        &:not(:first-child){
            margin-top: 10px;
        }
    }
    &__nav-link{
        display: block;
        color: #55556A;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #030318;
        }
    }
    &__nav-social-content{
        margin-top: 10rem;
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
    }
    &__nav-icon-mobile{
        font-size: 18px;
        display: inline-block;
        color: #55556A;
        transition: all 0.3s ease-in-out;
      
        &:not(:first-child){
            padding-left: 30px;
           
        }
        &:hover{
            color: #030318;
        }
    }
    &__nav-bar{
        color: #fff;
        display: inline-block;
        font-size: 19px;
    }
    &__nav-close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: #030318;
        display: inline-block;
        font-size: 19px;
    }
    &__nav-container #menu-btn:checked ~ &__nav-list{
        right: 0%;
    }



    &__search-icon{
        display: inline-block;
        font-size: 22px;
        margin-right: 45px;
        position: absolute;
        top: 13px;
        right: 40px;
        cursor: pointer;
        @include respond(zero-size){
            max-width: 68%;
            right: 25px;
        }
    }

    &__search-box{
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0%;
        width: 90%;
        height: 50px;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        margin-left: 70px;
         @include respond(big-desktop-min-4){
             max-width:88%;
             
         }
         @include respond(big-desktop-min-3){
             max-width:86%;
             
         }
         @include respond(big-desktop-min-2){
             max-width:84%;
             
         }
         @include respond(big-desktop-min-1){
             max-width:82%;
             
         }
         @include respond(tab-land-7){
             max-width:80%;
             
         }
         @include respond(tab-port-1){
             max-width: 78%;
         }
         @include respond(phone-md){
             max-width: 75%;
             margin-left: 30px;
         }
         @include respond(phone){
             max-width: 70%;
             margin-left: 20px;
         }
         @include respond(zero-size){
             max-width: 68%;
             margin-left: 20px;
         }
        
    }
    &__search-box-input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 17px;
        color: #fff;
        background: #171c24;
        padding: 0 100px 0 15px;
        &::placeholder{
            color: #f2f2f2;
        }
    }
    &__go-icon{
        width: 70px;
        height: 100%;
        border:none;
        background: #171c24;
        position: absolute;
        right: 10px;
        top: 0;
        outline: none;
        color: rgb(179, 16, 16);
        font-size: 20px;
        cursor: pointer;
    }
  
}




   .nav input[type="radio"]{
        display: none;
    }


.nav #show-search:checked ~ .search-icon .an-search::before{
    // content: "\f00d";
  }

.nav #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
 
  .d-none{
      display: none;
  }