.container{
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    
  
}

.container-fluid{
    margin-top: 89.1px;
    width: 100%;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
   
    // border: 1px solid red;
    @include respond(tab-land-6){
        padding-left: 12px;
        padding-right: 12px;
  
    }
    
    @include respond(tab-land){  // max-width 1024
        max-width: 992px;
 
    }
    @include respond(phone-md){  // max-width 816
        max-width: 768px;

    }
    @include respond(phone){  // max-width 640
        max-width: 586px;
    }
   
}

.border-section-top{
    border-top: 1px solid #55556A;
}

.border-section-top{
    margin-bottom: 28px;
    @include respond(tab-port-1){
        margin: 0;
    }
}
.text-mt-28{
    margin-bottom: 28px;
}
.experience{
    border-top: 1px solid #55556A;
}
.section{
    position: relative;
    
    &__section-img{
        position: absolute;
        top: -90px;
        left: 0;
        @include respond(big-desktop-min-2){
            width: 110px;
            height: 55px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__section-center-icon{
        position: absolute;
        bottom: 14px;
        left: 50%;
        transform: translate(-50%,-0%);
        background-color: #030318;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50px;
        @include respond(big-desktop-min-2){
            bottom: 5px;
          
            width: 45px;
            height: 45px;
            line-height: 45px;
        }
        i{
            display: inline-block;
            color: #fff;
            font-size: 29px;
            @include respond(big-desktop-min-2){
                font-size: 24px;
            }
        }
    }
    &__section-h1{
        font-size: 120px;
        color: #272739;
        font-weight: bold;
        // border: 1px solid red;
       
        @include respond(big-desktop-min-2){
            font-size: 70px;
        }
        @include respond(zero-size-1){
            font-size: 52px;
        }
      
    }
    &__section-fixed{
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 28%;
        left: 0.4%;
        @include respond(big-desktop-min-2){
            font-size: 24px;
            top: 22%;
        }
        @include respond(tab-land-5){
            top: 19.4%;
        }
        @include respond(zero-size-1){
            top: 11.4%;
            font-size: 19px;
        }
      
    }
    .text-h4-fixed{
        left: 2.2%;
    }
    &__section-p{
        font-size: 14px;
        font-weight: normal;
        color: #55556A;
        line-height: 30px;
        margin-top: 21.6px;
        @include respond(big-desktop-min-2){
            margin-top: 17.6px;
            line-height: 27px;
        }
    }
}

.ourteam-fixed{
    top: 37% !important;
}

.ourteam-mt{
    margin-top: 60.3px;
}

@include respond(phone-md){
    // max-width: 50%;
    .d-none-price{
        display: none;
    }
}

.textimonal-none{
    @include respond(tab-land){
        // display: none;
    }
}

.back-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 20px;
    background: #ED2B23;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 1px solid #ED2B23;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    display: inline-block;
    z-index: 777;

  }
  .back-to-top:hover{
    transition: all 0.5s ease-out;
    background: #bb1b15;
  }

  .experience .owl-theme .owl-dots{
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50% , -50%);
   
  } 

  .hrrr{
      color: #fff !important;
  }