.client{
    position: relative;
   
    &__client-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 0;
    }
    &__client-inner{
        padding-top:99.3px;
        padding-bottom: 150px;
        @include respond(phone-md){
            padding-top: 57.3px;
            padding-bottom: 70px;
        }
    }
    &__client-col{
        width: 100%;
        max-width: 16.5%;
        border-left: 1px solid #3D3D52;
        padding: 54px 0;
        @include respond(phone){
            max-width: 25%;
        }
    }
    &__client-img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        // background-color: red;
        
    }
}

// 
.border-left-0{
    border-left: none;
}
.border-left-0-mobile{
    @include respond(phone){
        border-left: none;
    }
}
.client-left-mobile{
   @include respond(phone){
    border-left: 1px solid #3D3D52;
   }
}
.client-border-bottom{
    border-bottom: 1px solid #3D3D52;
    
}
.client-border-mobile{
    @include respond(phone){
        border-bottom: 1px solid #3D3D52;
    
    }
}
