.experience{
    position: relative;
    &__slide-margin{
        padding-top: 98.5px !important;
        padding-bottom: 150px !important;
        @include respond(big-desktop-min-2){
            padding-top:57.3px !important;
            padding-bottom: 80px !important;
        }
    }
   &__experience-line{
    width: 96%;
    display: block;
    height: 1px;
    background-color: #3D3D52;
    margin-top: 29.7px;
    margin-bottom: 25.7px;
    @include respond(big-desktop-min-2){
        margin-top: 25.7px;
        margin-bottom: 20.7px;
    }
   } 
   &__experience-img{
       i{
        display: inline-block;
        font-size: 45px;
        color: #fff;
        @include respond(big-desktop-min-2){
            font-size: 38px;
        }
       }
   }
   &__experience-date{
       font-size: 14px;
       display: inline-block;
       font-weight: 300;
       color: #ED2B23;
       line-height: 30px;
   }
   &__experience-h2{
       font-size: 20px;
       font-weight: 600;
       line-height: 30px;
       letter-spacing: 25;
       margin-bottom: 23.7px;
       color: #fff;
       @include respond(big-desktop-min-2){
           font-size: 18px;
           margin-bottom: 18.7px;
       }
   }
   &__experience-p{
       font-size: 14px;
       line-height: 30px;
       color: #55556A;
       @include respond(big-desktop-min-2){
           line-height: 27px;
       }
    //    padding-bottom: 60px;
   }
   &__experience-item-flex{
        display: flex;
   }

}

