.ourteam{
    position: relative;
    &__ourteam-row{
        padding-top: 28px;
        padding-bottom: 148.3px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include respond(tab-land-6){
            padding-left: 10px;
            padding-right: 10px;
        }
        @include respond(phone-md){
            padding-top: 57.3px;
            padding-bottom: 70px;
        }
    }
    &__ourteam-col-3{
        width: 100%;
        max-width: 30%;
        text-align: center;
        
        @include respond(phone){
            max-width: 100%;
            border: 1px solid #55556A;
            padding: 25px 0;
            &:not(:first-child){
                margin-top: 1.25rem;
            }
        }
        // border: 1px solid red;
    }
    &__ourteam-div-circle{
        width: 100%;
        max-width: 153px;
        height: 153px;
        border-radius: 50%;
        border: 1px solid #55556A;
        padding: 10px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    &__ourteam-inner-circle{
        border: 4px solid #272739;
        width: 133px;
        height: 133px;
        border-radius: 100px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100px;
        }
    }
    &__small-circle{
        position: absolute;
        top: 20px;
        right: 10px;
        width: 12px;
        border-radius: 50%;
        height: 12px;
        background-color: #ED2B23;
    }
    &__ourteam-h2{
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        color: #fff;
        margin-top: 18.7px;
        text-transform: uppercase;
       
    }
    &__ourteam-line{
        width: 100%;
        display: block;
        height: 1px;
        border: 1px solid #3D3D52;
        margin-top: 19.3px;
        margin-bottom: 19.7px;
        @include respond(phone){
            margin:15px 0;
        }
    }
    &__ourteam-span{
        font-size: 14px;
        line-height: 30px;
        color: #55556A;
        display: block;
    }
}