
.testimonial{
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    
    width: 100%;
    max-width: 1220px;
    @include respond(tab-land-7){
        padding-right: 30px !important;
    }
    @include respond(tab-port-1){
        margin: 0;
        padding-right: 0 !important;
    }
  
 
    &__testimonial-row{
        width: 100%;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        &:not(:first-child){
            margin-top: 50px;
           
        }

        @include respond(tab-port-1){
            flex-wrap: wrap;
            
        }
    }
    &__testimonial-col-5{
        width: 100%;
        max-width: 66%;
        padding-right: 34px;
        padding-top:14.7px;
        padding-bottom:36px;
        @include respond(tab-land-7){
            padding-left: 30px;
        }
        @include respond(tab-port-1){
            max-width: 90%;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            
        }
        @include respond(zero-size){
            max-width: 100%;
          }
    }


    &__testimonial-col-7{
        width: 100%;
        max-width: 52%;
        padding: 40px 38px 39px 30px;
        background-color: #fff;
        @include respond(tab-port-1){
            max-width: 90%;
            margin-top: 20px;
            margin-bottom: 1rem;
            padding: 20px 30px 20px 30px;
            margin-left: auto;
            margin-right: auto;
        }
        @include respond(zero-size-1){
            padding: 14px 12px 14px 12px;
        }
       
    }
// textimonial-col-4 child ha testimonial-col-5
    &__testimonial-col-4{
        width: 100%;
        // max-width: 44%;
      
    }
    &__testimonial-left-flex{
        display: flex;
        width: 100%;
    }
    &__testimonial-img{
        img{
            width: 110px;
            height: 110px;
            object-fit: cover;
            border-radius: 100px;
            @include respond(zero-size){
                width: 90px;
                height: 90px;
            }
        }

    }
    &__testimonial-h2{
        font-size: 18px;
        color: #fff;
        line-height: 30px;
        font-weight: bold;
        margin-left: 13.7px;
    }
    &__testimonial-line-content{
        position: relative;
        margin-top: 14.3px;
        margin-bottom: 14.7px;
        width: 100%;
    }
    &__testimonial-line{
        display: block;
        height: 1px;
        background-color: #3D3D52;
    }
    &__testimonial-small-radius{
        position: absolute;
        top: -19px;
        right: 0;
        width: 42px;
        height: 42px;
        border: 1px solid #3D3D52;
        border-radius: 50px;
        background-color: #030318;
      
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            width: 24px;
            height:24px;
            background-color: red;
            border-radius: 50px;
        }
    }
    &__testimonial-span{
        font-size: 14px;
        display: block;
        line-height: 30px;
        color: #55556a;
        margin-left: 13.7px;
    }
    &__testimonial-social-content{
        margin-top:23px;
        margin-left: 13.7px;    
      
        @include respond(tab-port-1){
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 167px;;
        }
    }
  
    &__testimonial-icon{
        width:30px;
        &:last-child{
            text-align: end;
            border-left: 1px solid #55556A;
            width: 34px;
            @include respond(tab-port-1){
                border-left: none;
            }
        }
       
    }
    &__testimonial-icon-center{
        width: 51px;
        text-align: center;
        border-left: 1px solid #55556A;
       @include respond(tab-port-1){
           width: 70px;
           border-right: 1px solid #55556A;
       }
    }
    &__testimonial-icon,
    &__testimonial-icon-center{
        height: 42px;
        line-height: 42px;
        color: #55556A;
        font-size: 16px;
        display: inline-block;
    }


   
    &__testimonial-star-content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 133px;
    }
    &__testimonial-star,
    &__testimonial-star-light{
        display: inline-block;
        font-size: 19px;
    }
    &__testimonial-star{
        color:#EF620F;
    }
    &__testimonial-star-light{
        color: #A8B2D2;
    }
    &__testimonial-p{
        margin-top: 30px;
        font-size: 14px;
        color: #55556A;
        line-height: 30px;
        @include respond(zero-size-1){
            margin-top: 15px;
            line-height: 25px;
        }
    }
}

